

.logoInicio {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.descricao {
    text-align: justify;
    margin-top: 13rem;
    padding-right: 3rem;
}

main {
    font-family: 'Comfortaa';
}

@media (min-width: 768px) {
    .col-md-12 {
        display: flex;
        align-items: center;
    }
}