body {
    background-color: #144272;
}

#container {
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.table {
    width: 80%;
    background-color: #f8f7f7;
    border: solid #000000;
}

#suportes {
    width: 100%;
    display: flex;
    justify-content: center;
}

tbody, td, tr, th {
    width: 5px;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle; 
}