<ion-content [fullscreen]="true">

    <div class="example-content">
        <ion-card id="cardFavoritos" *ngIf="cardBoolean">
            <ion-card-header>
                <ion-card-title>
                    <ion-button size="large">
                        <ion-icon slot="icon-only" name="star"></ion-icon>
                    </ion-button>
                </ion-card-title>
                <ion-card-subtitle>Linha 125: Iperó - Sorocaba</ion-card-subtitle>
            </ion-card-header>

            <ion-card-content id="subtitle">
                Próximo: 10:25 <br>
                Preço: 6,65
            </ion-card-content>
        </ion-card>


        <app-mapa></app-mapa>

    </div>
</ion-content>