<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="goToHomePage()"></ion-back-button>
    </ion-buttons>
    <ion-title>Sobre a empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bem-vindo ao MixBus!</h1>
  <p>Somos uma empresa de tecnologia dedicada a fornecer soluções de rastreamento de ônibus em tempo real para melhorar a mobilidade urbana.</p>
  <p>Nossa missão é ajudar as pessoas a chegar aos seus destinos de forma mais rápida, segura e eficiente.</p>
  <p>Para mais informações, entre em contato conosco pelo e-mail: contato@mixbus.com</p>
</ion-content>



